body {
    font-family: 'Consolas', Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

#quiz-container {
    margin: auto;
    width: 300px;
}

input, button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input {
    text-align: center;
    font-family: 'Consolas', Arial, sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Consolas', Arial, sans-serif;
}

button:hover {
    background-color: #45a049;
}
